In [1]:
library("readr")
library("dplyr")
spahn <- read_csv("data/spahn.csv")
spahn %>% slice(1:3) %>% select(1:10)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Rows: 21 Columns: 34
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): Tm, Lg, Awards
dbl (31): Year, Age, W, L, W.L, ERA, G, GS, GF, CG, SHO, SV, IP, H, R, ER, H...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Year Age Tm  Lg W  L  W.L   ERA  G  GS
1 1942 21  BSN NL  0  0    NA 5.74  4  2
2 1946 25  BSN NL  8  5 0.615 2.94 24 16
3 1947 26  BSN NL 21 10 0.677 2.33 40 35

In [3]:
spahn %>% slice(1:10) %>% select(Age, W, L, ERA)

   Age W  L  ERA
1  21   0  0 5.74
2  25   8  5 2.94
3  26  21 10 2.33
4  27  15 12 3.71
5  28  21 14 3.07
6  29  21 17 3.16
7  30  22 14 2.98
8  31  14 19 2.98
9  32  23  7 2.10
10 33  21 12 3.14

In [5]:
spahn %>% filter(ERA==min(ERA)) %>% select(Age)

  Age
1 32

In [6]:
spahn %>%
    mutate(FIP = (13*HR+3*BB-2*SO)/IP) -> spahn

In [7]:
spahn
    arrange(FIP) %>%
    select(Year, Age, W, L, ERA, FIP) %>%
    head()

   Year Age Tm  Lg W  L  W.L   ERA  G  GS ⋯ BF   ERA+ WHIP  H/9  HR/9 BB/9 SO/9
1  1942 21  BSN NL  0  0    NA 5.74  4  2 ⋯   79  59  2.298 14.4 0.0  6.3  4.0
2  1946 25  BSN NL  8  5 0.615 2.94 24 16 ⋯  514 118  1.138  7.7 0.4  2.6  4.8
3  1947 26  BSN NL 21 10 0.677 2.33 40 35 ⋯ 1174 170  1.136  7.6 0.5  2.6  3.8
4  1948 27  BSN NL 15 12 0.556 3.71 36 35 ⋯ 1064 105  1.222  8.3 0.7  2.7  4.0
5  1949 28  BSN NL 21 14 0.600 3.07 38 38 ⋯ 1258 124  1.221  8.4 0.8  2.6  4.5
6  1950 29  BSN NL 21 17 0.553 3.16 41 39 ⋯ 1217 122  1.225  7.6 0.7  3.4  5.9
7  1951 30  BSN NL 22 14 0.611 2.98 39 36 ⋯ 1289 124  1.246  8.1 0.6  3.2  4.8
8  1952 31  BSN NL 14 19 0.424 2.98 40 35 ⋯ 1190 122  1.159  8.2 0.6  2.3  5.7
9  1953 32  MLN NL 23  7 0.767 2.10 35 32 ⋯ 1055 188  1.058  7.1 0.5  2.4  5.0
10 1954 33  MLN NL 21 12 0.636 3.14 39 34 ⋯ 1175 119  1.228  8.3 0.8  2.7  4.3
11 1955 34  MLN NL 17 14 0.548 3.26 39 32 ⋯ 1025 115  1.278  9.1 0.9  2.4  4.0
12 1956 35  MLN NL 20 11 0.645 2.78 39 35 ⋯ 1113 125  1.070  8.0 0.8  1.7  4.1
13 1957 36  MLN NL 21 11 0.656 2.69 39 35 ⋯ 1111 130  1.177  8.0 0.8  2.6  3.7
14 1958 37  MLN NL 22 11 0.667 3.07 38 36 ⋯ 1176 116  1.148  8.0 0.9  2.4  4.7
15 1959 38  MLN NL 21 15 0.583 2.96 40 36 ⋯ 1203 119  1.205  8.7 0.6  2.2  4.4
16 1960 39  MLN NL 21 10 0.677 3.50 40 33 ⋯ 1110  98  1.225  8.5 0.8  2.5  5.2
17 1961 40  MLN NL 21 13 0.618 3.02 38 34 ⋯ 1064 122  1.142  8.1 0.8  2.2  3.9
18 1962 41  MLN NL 18 14 0.563 3.04 34 34 ⋯ 1088 125  1.125  8.3 0.8  1.8  3.9
19 1963 42  MLN NL 23  7 0.767 2.60 33 33 ⋯ 1037 124  1.117  8.4 0.8  1.7  3.5
20 1964 43  MLN NL  6 13 0.316 5.29 38 25 ⋯  759  67  1.474 10.6 1.2  2.7  4.0
21 1965 44  TOT NL  7 16 0.304 4.01 36 30 ⋯  846  89  1.346  9.6 1.2  2.5  4.1
   SO/BB Awards        FIP
1  0.64  NA            1.2500000
2  1.86  NA            0.4153355
3  1.46  ASMVP-15      0.6950207
4  1.48  MVP-14        0.9727626
5  1.76  ASMVP-7       1.0162198
6  1.72  ASMVP-18      0.8088737
7  1.50  ASMVP-11      0.8349452
8  2.51  ASMVP-23      0.3448276
9  2.11  ASMVP-5       0.3619910
10 1.58  ASMVP-11      1.0526316
11 1.69  NA            1.2234910
12 2.46  ASCYA-3MVP-4  0.8004269
13 1.42  ASCYA-1MVP-5  1.1476015
14 1.97  ASCYA-2MVP-5  1.0517241
15 2.04  ASMVP-19      0.6746575
16 2.08  CYA-2MVP-14   0.8458084
17 1.80  ASCYA-2MVP-10 1.0450038
18 2.15  AS            0.9438870
19 2.08  ASMVP-12      0.9336420
20 1.50  NA            1.7263279
21 1.61  NA            1.6531440

ERROR: Error in arrange(FIP): object 'FIP' not found